{% extends 'base.html.twig' %}

{% block title  %}
    {{ trick.title }}
{% endblock %}


{% block header %}
    <h1 class="pt-5 pb-5 text-center">{{trick.title}}</h1>

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <article class="post ">
                <div class="p-3">

                    <p class="text-muted">

                        <time class="h4 time text-center text-success">
                            {{ trick.createdAt| format_datetime('medium', 'none', locale='fr')}}
                        </time>

                    </p>

                    <p class="pt-3 text-break ">
                        {{(trick.description|raw)}}
                    </p>
                    {% if is_granted('ROLE_USER') %}
                        <div class="pt-3">
                            <a href="{{path('app_trick_edit', {id: trick.id})}}" class=" btn btn-light ">Editer</a>

                            <a href="#" onclick="event.preventDefault(); confirm('Etes-vous sur ?')&& document.getElementById('trick-delete').submit();" class=" btn btn-light ">Supprimer</a>

                            <form id="post-delete" action="{{path('app_trick_delete', {id: trick.id})}}" method="post" style="display:none;">
                                <input type="hidden" name="csrf_token" value="{{csrf_token('trick_deletion_'~ trick.id)}}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="comment-box add-comment">
                    {% if app.user %}
                        <div class="reply-box">
							<span class="commenter-name">
								<h3>Laisser un commentaire</h3>
								{{form_start(form)}}

								<div class="mt-4">

									{{form_row(form.content)}}

								</div>

								<button type="submit" class="btn ">Commenter</button>

								{{form_end(form)}}


								<button type="cancel" class="btn btn-default reply-popup">Annuler</button>
							</span>
                        </div>
                        <span class="add-com">
							<button type="comment" class="btn  btn-default reply-popup">Ajouter un commentaire</button>
						</span>
                {% else %}
                    <p class="mt-5 border">
                        <a href="{{ path('app_login')}}">
                            <i class="fas fa-sign-in-alt"></i>
                            Connectez-vous
                        </a>
                        pour commenter
                    </p>
                {% endif %}


                <trick-comment data-post="{{post.id}}" data-user="{{app.user ? app.user.id :0}}"></trick-comment>

            </article>

        </div>
    </div>


{% endblock %}