<nav class="relative px-4 py-4 flex justify-between items-center bg-gray-300">
    <a class="mr-auto text-3xl font-bold leading-none" href="{{path('app_main')}}">
        <h3 class="text-2xl font-medium text-blue-500 ">Snowtrick</h3>
    </a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-blue-600 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Mobile menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    {% if app.user %}
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-green-100 hover:bg-green-300 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="{{ path('app_trick_create') }}">Ajouter un trick</a>
        <a class="hidden lg:inline-block py-2 px-6 bg-red-500 hover:bg-red-700 text-sm text-white font-bold rounded-xl transition duration-200" href="{{path('app_logout')}}">logout</a>
    {% else %}
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-100 hover:bg-gray-300 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="{{path('app_login')}}">Sign in</a>
        <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-700 text-sm text-white font-bold rounded-xl transition duration-200" href="{{path('app_register')}}">Sign Up</a>
    {% endif %}
</nav>
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl font-bold leading-none" href="{{path('app_main')}}">
                <h3 class="text-2xl font-medium text-blue-500 ">Snowtrick</h3>
            </a>
            <button class="navbar-close">
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div class="mt-auto">
            <div class="pt-6">
                {% if app.user %}
                    <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-green-100 hover:bg-green-300 rounded-xl" href="{{ path('app_trick_create') }}">Ajouter un trick</a>
                    <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-red-500 hover:bg-red-700  rounded-xl" href="{{path('app_logout')}}">logout</a>
                {% else %}
                    <a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-100 hover:bg-gray-300 rounded-xl" href="{{path('app_login')}}">Sign in</a>
                    <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-500 hover:bg-blue-700  rounded-xl" href="{{path('app_register')}}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
